body {
    background-color: black;
    color: white;
}
.container {
    position: absolute;
    align-items: center;
    min-width: 100%;
}
.container-fluid {
    height: 60px;
    margin: 40px;
    color: white;
    display: inline;
}
.navbar-brand {
    text-decoration: none;  
    margin: 15px;
    font-family: 'Shippori Mincho', serif;
    color: white;
    font-weight: bolder;  
    font-size: 25px;
}
.align-top {
    border-radius: 50%;
    outline: none;
}
.fa-bars {
    float: right;
    right: 15%;
    font-size: 40px;
    color: white;
    margin-top: 15px;
    margin-right: 60px;
}
#drop {
    font-family: 'Montserrat', sans-serif;
    margin: 40px;
    display: block;
    top: 10%;
    box-sizing: border-box;
}
.navcontent {
    display: flex;
    justify-content: space-between;
    height: 65px;
    opacity: .5;
}
.drops {
    font-size: 15px;
    display: block;
    max-width: 300px;
    max-height: 100px;
    margin-right: 20px;
}
.yellow {
    color: yellow;
}
.map {
    position: relative;
    float: right;
    margin-bottom: 30px;
}
.content {
    min-width: 100%;
}
.form {
    float: left;
    left: 5%;
    top: 0%;
    font-family: 'Montserrat', sans-serif;
}
#Name, #email, #message {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid grey;
    margin-left: 10px;
    margin-bottom: 20px;
}
#Name, #email {
    width: 600px;
    height: 35px;
}
#message {
    width: 600px;
    height: 150px;
    resize: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-color: white;
    opacity: .5;
}
.logbtn {
    border: 1px solid black;
    height: 45px;
    background-color: rgb(54, 54, 54);
    margin-top: 15px;
    color: white;
    font-weight: 20px;
    font-family: 'Montserrat', sans-serif;
    width: 180px;
}
.create {
    margin-top: 50%;
   float: inherit;
   bottom: 0%;
   z-index: 1;
 }
 .small {
    text-align: center;
    font-size: smaller;
    font-weight: lighter;
    opacity: 0.5;
}
 .mark {
     color: rgb(243, 65, 65);
     font-size: 30px;
 }
 