* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    background-color: black;
    color: white;
}
#box {
    height: 100vh;
    width: 100%;
}
.smile{
    position: inherit;
    float: left;
    left: 0%;
}
.smile img {
    width: 450px;
    height: 100vh;
}
.width  {
    display: block;
    margin-top: 80px;
    margin-left: 100px;
    position: inherit;
    float: left;
    right: 100%;
    top: 0%;
}
.width h2, .width ul li a {
    text-decoration: none;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
    margin: 15px;
}
.width ul li {
    list-style-type: decimal-leading-zero;
    size: 12px;
    color: grey;
    margin: 30px;
}

.laugh {
    position: relative;
    float: right;
    right: 10%;
    top: 0%;
    margin-top: 10px;
}
.fa-times {
    font-size: 50px;
    color: white;
    text-decoration: none;
}
.decor {
    color: yellow;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-decoration: none;
}



