body {
    background-color: black;
    color: white;
   
}
.container {
    position: absolute;
    align-items: center;
    width: 100%;
}
.container-fluid {
    height: 60px;
    margin: 10px 40px;
    color: white;
    display: inline;
}
.navbar-brand {
    text-decoration: none;  
    margin: 15px;
    font-family: 'Shippori Mincho', serif;
    color: white;
    font-weight: bolder;  
    font-size: 25px;
}
.align-top {
    border-radius: 50%;
    outline: none;
}
.fa-bars {
    position: absolute;
    float: right;
    right: 10%;
    font-size: 40px;
    color: white;
    margin-top: 15px;
}
.contain {
    color: white;
    margin-bottom: 40px;
    padding-top: 10%;
    text-align: center;
    line-height: 5px;
}
.large {
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Shippori Mincho', serif;
    text-decoration: none;
    margin-bottom: 20px;
}
.small {
    text-align: center;
    font-size: smaller;
    font-weight: lighter;
    opacity: 0.5;
}
#drop {
    margin-bottom:20px;
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 0px 10px;
}
.navcontent {
    display: flex;
    height: 65px;
    margin-top: 80px;
    margin-bottom: 80px;
    color: white;
}
.drops {
    padding-top: 20px;
    margin-left: 300px;
    margin-right: 100px;
    text-align: center;
    font-size: 20px;
    display: block;
    font-family: 'Montserrat', sans-serif;
}
.drops .fa {
    color: yellow;
    font-size: 25px;
    position: relative;
}
.create {
   margin-top: 20%;
}
.mark {
    color: rgb(243, 65, 65);
    font-size: 30px;
}
