body {
    background-color: black;
    color: white;
}
.container {
    position: absolute;
    align-items: center;
    min-width: 100%;
}
.container-fluid {
    height: 60px;
    margin: 10px 40px;
    color: white;
    display: inline;
}
.navbar-brand {
    text-decoration: none;  
    margin: 15px;
    font-family: 'Shippori Mincho', serif;
    color: white;
    font-weight: bolder;  
    font-size: 25px;
}
.align-top {
    border-radius: 50%;
    outline: none;
}
.fa-bars {
    position: absolute;
    float: right;
    right: 10%;
    font-size: 40px;
    color: white;
    margin-top: 15px;
}
.content {
    width: auto;
    color: white;
    margin: 25%;
    line-height: 5px;  
}
.small {
    text-align: center;
    font-size: smaller;
    font-weight: lighter;
    opacity: 0.5;
}
.big {
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Shippori Mincho', serif;
    text-align: center;
}
#box, #space {
    height: 60px;
    width: 80%;
    margin: 100px 80px 100px 80px;
}
.width  {
    display: block;
    width: 40%;
    position: inherit;
    float: right;
    right: 20%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.width .decor, .java .decor {
    font-weight: lighter;
    opacity: 0.5;
    font-size: 15px;
}
.smile img{
    margin-left: 200px;
    height: 400px;
    width: 300px;
}
.height {
    color: yellow;
}
.height p {
    font-size: 14px;
}
.height .fa  {
    margin: 0 10px 0 0;
    color: yellow;
}
.height .fa a {
    text-decoration: none;
}
.contact {
    color: white;
    font-size: 14px;
}
.decor .fa {
    color: yellow;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    text-decoration: none;
}
.width a, .java a {
    color: yellow;
    text-decoration: none;
}
.contain {
    color: white;
    margin-top: 20%;
    margin-bottom: 40px;
    padding-top: 20%;
    text-align: center;
    line-height: 5px;
}
.large {
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Shippori Mincho', serif;
    text-decoration: none;
    margin-bottom: 20px;
}
#drop {
    margin-bottom:20px;
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 0px 10px 0px 10px;
}
.navcontent {
    display: flex;
    height: 65px;
    margin-top: 80px;
    margin-bottom: 80px;
    color: white;
}
.drops {
    padding-top: 20px;
    margin-left: 300px;
    margin-right: 100px;
    text-align: center;
    font-size: 20px;
    display: block;
    font-family: 'Montserrat', sans-serif;
}
.drops .fa {
    color: yellow;
    font-size: 25px;
    position: relative;
}
.do {
    color: white;
    margin-top: 10%;
    margin-bottom: 40px;
    padding-top: 15%;
    text-align: center;
    line-height: 5px;
}
.tiny {
    font-size: smaller;
    font-weight: lighter;
    opacity: 0.5;
}
#space {
    z-index: 1;
    padding: 25% 15%;
}
.java {
    display: block;
    width: 40%;
    position: inherit;
    float: left;
    left: 20%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.giggle img{
    margin-left: 100px;
    margin-top: 25px;
    height: 400px;
    width: 300px;
}
.create {
    margin-top: 50px;
}
.mark {
    color: rgb(243, 65, 65);
    font-size: 30px;
}
button {
    width: 60px;
    height: 40px;
    font-size: 18px;
}
